In [18]:
import pandas as pd

In [19]:
dir = "/Users/afrizalmulyana/Library/CloudStorage/OneDrive-PTORBITVENTURAINODNESIA/Afrizal Meka/Project Pribadi/aplikasi-cek-nilai-posttest/database/database.xlsx"
df = pd.read_excel(dir)
#index_col=0

In [20]:
df

,nama,id_msib,univ,prodi,nohp,ds,nlp,cv,tech
0,Adi Mulya Hyoga Pramesta,3725349,Universitas Dian Nuswantoro,Teknik Informatika,81392079914,99,95,99,88
1,Ahmad Imam Khofi,3801595,Universitas Muhammadiyah Semarang,Teknik Elektro,89524253715,90,80,79,82
2,Ahmad Malikhul Khakim,3832337,Universitas Negeri Semarang,Psikologi,85712555526,76,72,83,87
3,Bagus Rifqi Ridho,3763981,Politeknik Harapan Bersama,Teknik Informatika,85161382552,68,90,96,75
4,Bima Aji Maulana,3852379,Universitas Sebelas Maret,Manajemen Bisnis,87714476866,70,100,75,81
5,Christopher Prima,3845534,Universitas Amikom Purwokerto,Teknologi Informasi,82243039103,60,99,76,72
6,Dhiya Arwa Fadhila,3841158,Universitas Amikom Purwokerto,Informatika,895422462944,65,88,98,69
7,Dinda Arum,3788761,Universitas Muhammadiyah Surakarta,Psikologi,82185511649,82,63,62,81
8,Dinda Regina Nofiar,3346764,Universitas Dian Nuswantoro,Manajemen,85156045861,92,70,83,72
9,Faishal Bahy,3447291,Universitas Amikom Purwokerto,Teknologi Informasi,82260368898,62,79,96,77
10,Faqih Azka Ash-Shidqi,3841917,Universitas Negeri Semarang,Psikologi,82118045113,62,65,88,86
11,Fiyandhika Ridho Pratama,3854585,Universitas Amikom Yogyakarta,Sistem Informasi,82348877452,76,82,82,87
12,Hanin Atika Nurussyifa,3623287,Universitas Diponegoro,Akuntansi Perpajakan,85703598708,67,91,99,82
13,Khomsatun Natasyah,3439592,Universitas Negeri Semarang,Pendidikan Geografi,85866040215,88,89,89,100
14,Lathifah Melita Santi,3183443,Universitas Muhammadiyah Surakarta,Pendidikan Bahasa Inggris,82135254500,62,95,80,78
15,Latifa Rachma,3761118,Universitas Diponegoro,Sejarah,81548882108,75,75,97,80
16,Michael Setiawan,3842035,Universitas Amikom Yogyakarta,Teknik Komputer,89673942141,81,93,100,77
17,Muhammad Raihan Firmansyah,3762472,Universitas Dian Nuswantoro,Teknik Informatika,85803737732,67,92,63,70
18,Muhammad Ridho Heralti,3843259,Universitas Jenderal Soedirman,Matematika,85760004087,67,68,64,94
19,Muhammad Rifki Kurniawan,3813513,Universitas Pembangunan Nasional Veteran Yogya...,Ilmu Administrasi Bisnis,85291378856,80,68,86,65
20,Mutia Angraini,3643895,Universitas Pembangunan Nasional Veteran Yogya...,Manajemen,81328256132,83,91,69,99
21,Nadiyah Saidah,3806913,Universitas Alma Ata,Informatika,895325028877,78,97,63,94
22,Nik Nor Allia,3849134,Universitas Alma Ata,Manajemen,85718802418,91,93,75,83
23,Nur Cahyo Tio Nugroho,3735191,Universitas Dian Nuswantoro,Teknik Informatika,81330435792,75,96,91,88
24,Rico Kurniawan,3842455,Universitas Negeri Semarang,Psikologi,83162498235,97,86,72,70
25,Rizqy Ichlasul Amalia,3299393,Universitas Muhammadiyah Semarang,Statistika,89506117922,96,93,81,71
26,Rousyan Afkar Irbah,3623281,Universitas Diponegoro,Akuntansi Perpajakan,81213145463,95,78,81,80
27,Sofi Anggi Astuti,3830944,Universitas Muhammadiyah Semarang,Statistika,89647681473,86,76,80,94
28,Wiyenti Halim,3510247,Universitas Alma Ata,Ilmu Sistem Informasi,895399776240,84,69,94,70

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nama     29 non-null     object
 1   id_msib  29 non-null     int64
 2   univ     29 non-null     object
 3   prodi    29 non-null     object
 4   nohp     29 non-null     int64
 5   ds       29 non-null     int64
 6   nlp      29 non-null     int64
 7   cv       29 non-null     int64
 8   tech     29 non-null     int64
dtypes: int64(6), object(3)
memory usage: 2.2+ KB

In [22]:
df['nama'] = df['nama'].str.lower()
df['univ'] = df['univ'].str.lower()
df['prodi'] = df['prodi'].str.lower()

In [16]:
size = df.shape
size = size[0]
size

29

In [9]:
input_nama = str(input("nama : ")).lower()

size = df.shape
size = size[0] - 1
ds = '0'
nlp = '0'
cv = '0'
tech = '0'

for data in df.index:
    name = df['nama'][data]
    
    if input_nama == name:
        ds.append(df['ds'][x])
        nlp.append(df['nlp'][x])
        cv.append(df['cv'][x])
        tech.append(df['tech'][x])
        break
    
    elif data == size:
        print("data tidak ditemukan")
        
print(ds)

nama : shi jack

AttributeError: 'str' object has no attribute 'append'

In [54]:
# Define a dictionary containing students data
data = {'Name': ['Ankit', 'Amit',
                 'Aishwarya', 'Priyanka'],
        'Age': [21, 19, 20, 18],
        'Stream': ['Math', 'Commerce',
                   'Arts', 'Biology'],
        'Percentage': [88, 92, 95, 70]}
  
# Convert the dictionary into DataFrame
df2 = pd.DataFrame(data, columns=['Name', 'Age', 
                                 'Stream', 'Percentage'])
  
print("Given Dataframe :\n", df2)
  
print("\nIterating over rows using index attribute :\n")
  
# iterate through each row and select
# 'Name' and 'Stream' column respectively.
for ind in df2.index:
    name = df2['Name'][ind]
    if name == 'Amit':
        print(df2['Name'][ind], df2['Stream'][ind])

Given Dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20      Arts          95
3   Priyanka   18   Biology          70

Iterating over rows using index attribute :

Amit Commerce

In [75]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 4bfe3d07b4858144c219b9346329027024102ab6
python           : 3.9.12.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 22.1.0
Version          : Darwin Kernel Version 22.1.0: Sun Oct  9 20:15:52 PDT 2022; root:xnu-8792.41.9~2/RELEASE_ARM64_T8112
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.UTF-8

pandas           : 1.4.2
numpy            : 1.21.5
pytz             : 2021.3
dateutil         : 2.8.2
pip              : 21.2.4
setuptools       : 61.2.0
Cython           : 0.29.28
pytest           : 7.1.1
hypothesis       : None
sphinx           : 4.4.0
blosc            : None
feather          : None
xlsxwriter       : 3.0.3
lxml.etree       : 4.8.0
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.2.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : 1.3.4
brotli           :
fastparquet      : None
fsspec           : 2022.02.0
gcsfs            : None
markupsafe       : 2.0.1
matplotlib       : 3.5.1
numba            : 0.55.1
numexpr          : 2.8.1
odfpy            : None
openpyxl         : 3.0.9
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.3
snappy           :
sqlalchemy       : 1.4.32
tables           : 3.6.1
tabulate         : 0.8.9
xarray           : 0.20.1
xlrd             : 2.0.1
xlwt             : None
zstandard        : None