In [1]:
import pandas as pd

In [2]:
dir = "/Users/afrizalmulyana/Library/CloudStorage/OneDrive-PTORBITVENTURAINODNESIA/Afrizal Meka/Project Pribadi/aplikasi-cek-nilai-posttest/database/database.xlsx"
df = pd.read_excel(dir)
#index_col=0

In [3]:
df

       nama        nim       univ   prodi         nohp
0  Shi Doel    2033321  Univ Doel  Teknik  82225700071
1  Shi Jack  223910123  Univ Jack    Psio     99239292
2  Shi Liem   88292923  Univ Liem    FKIP    992323232

In [4]:
df['nama'] = df['nama'].str.lower()
df['univ'] = df['univ'].str.lower()
df['prodi'] = df['prodi'].str.lower()

In [20]:
df

       nama        nim       univ   prodi         nohp
0  shi doel    2033321  univ doel  teknik  82225700071
1  shi jack  223910123  univ jack    psio     99239292
2  shi liem   88292923  univ liem    fkip    992323232

In [46]:
size = df.shape
size = size[0]
size

3

In [59]:
input_nama = str(input("nama : ")).lower()

size = df.shape
size = size[0] - 1

for data in df.index:
    name = df['nama'][data]
    
    if input_nama == name:
        print(df['nohp'][data])
        break
    
    if data == size:
        print("data tidak ditemukan")

nama : kk
data tidak ditemukan

In [54]:
# Define a dictionary containing students data
data = {'Name': ['Ankit', 'Amit',
                 'Aishwarya', 'Priyanka'],
        'Age': [21, 19, 20, 18],
        'Stream': ['Math', 'Commerce',
                   'Arts', 'Biology'],
        'Percentage': [88, 92, 95, 70]}
  
# Convert the dictionary into DataFrame
df2 = pd.DataFrame(data, columns=['Name', 'Age', 
                                 'Stream', 'Percentage'])
  
print("Given Dataframe :\n", df2)
  
print("\nIterating over rows using index attribute :\n")
  
# iterate through each row and select
# 'Name' and 'Stream' column respectively.
for ind in df2.index:
    name = df2['Name'][ind]
    if name == 'Amit':
        print(df2['Name'][ind], df2['Stream'][ind])

Given Dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20      Arts          95
3   Priyanka   18   Biology          70

Iterating over rows using index attribute :

Amit Commerce