In [1]:
import pandas as pd

In [2]:
dir = "/Users/afrizalmulyana/Library/CloudStorage/OneDrive-PTORBITVENTURAINODNESIA/Afrizal Meka/Project Pribadi/aplikasi-cek-nilai-posttest/database/database.xlsx"
df = pd.read_excel(dir)
#index_col=0

In [3]:
df

       nama        nim       univ   prodi         nohp  ds  nlp  cv  tech
0  Shi Doel    2033321  Univ Doel  Teknik  82225700071  80   90  60   100
1  Shi Jack  223910123  Univ Jack    Psio     99239292  65   80  85    90
2  Shi Liem   88292923  Univ Liem    FKIP    992323232  70   80  75    90

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nama    3 non-null      object
 1   nim     3 non-null      int64
 2   univ    3 non-null      object
 3   prodi   3 non-null      object
 4   nohp    3 non-null      int64
 5   ds      3 non-null      int64
 6   nlp     3 non-null      int64
 7   cv      3 non-null      int64
 8   tech    3 non-null      int64
dtypes: int64(6), object(3)
memory usage: 344.0+ bytes

In [4]:
df['nama'] = df['nama'].str.lower()
df['univ'] = df['univ'].str.lower()
df['prodi'] = df['prodi'].str.lower()

In [5]:
df

       nama        nim       univ   prodi         nohp  ds  nlp  cv  tech
0  shi doel    2033321  univ doel  teknik  82225700071  80   90  60   100
1  shi jack  223910123  univ jack    psio     99239292  65   80  85    90
2  shi liem   88292923  univ liem    fkip    992323232  70   80  75    90

In [6]:
size = df.shape
size = size[0]
size

3

In [9]:
input_nama = str(input("nama : ")).lower()

size = df.shape
size = size[0] - 1
ds = '0'
nlp = '0'
cv = '0'
tech = '0'

for data in df.index:
    name = df['nama'][data]
    
    if input_nama == name:
        ds.append(df['ds'][x])
        nlp.append(df['nlp'][x])
        cv.append(df['cv'][x])
        tech.append(df['tech'][x])
        break
    
    elif data == size:
        print("data tidak ditemukan")
        
print(ds)

nama : shi jack

AttributeError: 'str' object has no attribute 'append'

In [54]:
# Define a dictionary containing students data
data = {'Name': ['Ankit', 'Amit',
                 'Aishwarya', 'Priyanka'],
        'Age': [21, 19, 20, 18],
        'Stream': ['Math', 'Commerce',
                   'Arts', 'Biology'],
        'Percentage': [88, 92, 95, 70]}
  
# Convert the dictionary into DataFrame
df2 = pd.DataFrame(data, columns=['Name', 'Age', 
                                 'Stream', 'Percentage'])
  
print("Given Dataframe :\n", df2)
  
print("\nIterating over rows using index attribute :\n")
  
# iterate through each row and select
# 'Name' and 'Stream' column respectively.
for ind in df2.index:
    name = df2['Name'][ind]
    if name == 'Amit':
        print(df2['Name'][ind], df2['Stream'][ind])

Given Dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20      Arts          95
3   Priyanka   18   Biology          70

Iterating over rows using index attribute :

Amit Commerce

In [75]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 4bfe3d07b4858144c219b9346329027024102ab6
python           : 3.9.12.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 22.1.0
Version          : Darwin Kernel Version 22.1.0: Sun Oct  9 20:15:52 PDT 2022; root:xnu-8792.41.9~2/RELEASE_ARM64_T8112
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.UTF-8

pandas           : 1.4.2
numpy            : 1.21.5
pytz             : 2021.3
dateutil         : 2.8.2
pip              : 21.2.4
setuptools       : 61.2.0
Cython           : 0.29.28
pytest           : 7.1.1
hypothesis       : None
sphinx           : 4.4.0
blosc            : None
feather          : None
xlsxwriter       : 3.0.3
lxml.etree       : 4.8.0
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.2.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : 1.3.4
brotli           :
fastparquet      : None
fsspec           : 2022.02.0
gcsfs            : None
markupsafe       : 2.0.1
matplotlib       : 3.5.1
numba            : 0.55.1
numexpr          : 2.8.1
odfpy            : None
openpyxl         : 3.0.9
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.3
snappy           :
sqlalchemy       : 1.4.32
tables           : 3.6.1
tabulate         : 0.8.9
xarray           : 0.20.1
xlrd             : 2.0.1
xlwt             : None
zstandard        : None