In [1]:
import pandas as pd

In [2]:
dir = "/Users/afrizalmulyana/Library/CloudStorage/OneDrive-PTORBITVENTURAINODNESIA/Afrizal Meka/Project Pribadi/aplikasi-cek-nilai-posttest/database/database_apollo_class.xlsx"
df = pd.read_excel(dir)
#index_col=0

In [3]:
df

,nama,id_msib,univ,prodi,nohp,nilai_intro_to_ai_1,nilai_intro_to_ai_2,nilai_intro_to_ai_3,nilai_intro_to_ai_4,nilai_intro_to_ai_5,absen_intro_ai_1,absen_intro_ai_2,absen_intro_ai_3,absen_intro_ai_4,absen_intro_ai_5,ds,nlp,cv,tech
0,Adi Mulya Hyoga Pramesta,3725349,Universitas Dian Nuswantoro,Teknik Informatika,81392079914,100,85,100,100,90,1,1,1,1,1,30,30,60,90
1,Ahmad Imam Khofi,3801595,Universitas Muhammadiyah Semarang,Teknik Elektro,89524253715,100,85,100,100,85,1,1,1,1,1,40,80,60,40
2,Ahmad Malikhul Khakim,3832337,Universitas Negeri Semarang,Psikologi,85712555526,100,100,100,100,90,1,1,1,1,1,50,30,50,80
3,Bagus Rifqi Ridho,3763981,Politeknik Harapan Bersama,Teknik Informatika,85161382552,100,100,100,100,85,1,1,1,1,1,60,50,60,90
4,Bima Aji Maulana,3852379,Universitas Sebelas Maret,Manajemen Bisnis,87714476866,100,100,100,100,95,1,1,1,1,1,80,90,70,80
5,Christopher Prima,3845534,Universitas Amikom Purwokerto,Teknologi Informasi,82243039103,100,100,90,100,85,1,1,1,1,1,40,10,50,60
6,Dhiya Arwa Fadhila,3841158,Universitas Amikom Purwokerto,Informatika,895422462944,100,100,100,100,85,1,1,1,1,1,80,50,40,50
7,Dinda Arum,3788761,Universitas Muhammadiyah Surakarta,Psikologi,82185511649,100,100,100,100,95,1,1,1,1,1,50,50,60,40
8,Dinda Regina Nofiar,3346764,Universitas Dian Nuswantoro,Manajemen,85156045861,100,85,100,100,90,1,1,1,1,1,40,30,20,40
9,Faishal Bahy,3447291,Universitas Amikom Purwokerto,Teknologi Informasi,82260368898,100,100,100,100,85,1,1,1,1,1,20,20,40,70
10,Faqih Azka Ash-Shidqi,3841917,Universitas Negeri Semarang,Psikologi,82118045113,100,100,100,100,85,1,1,1,1,1,70,70,70,90
11,Fiyandhika Ridho Pratama,3854585,Universitas Amikom Yogyakarta,Sistem Informasi,82348877452,100,100,95,100,95,1,1,1,1,1,30,40,50,60
12,Hanin Atika Nurussyifa,3623287,Universitas Diponegoro,Akuntansi Perpajakan,85703598708,100,85,100,100,90,1,1,1,1,1,20,10,50,50
13,Khomsatun Natasyah,3439592,Universitas Negeri Semarang,Pendidikan Geografi,85866040215,100,100,100,100,90,1,1,1,1,1,80,30,40,60
14,Lathifah Melita Santi,3183443,Universitas Muhammadiyah Surakarta,Pendidikan Bahasa Inggris,82135254500,100,100,90,100,95,1,1,1,1,1,30,50,20,30
15,Latifa Rachma,3761118,Universitas Diponegoro,Sejarah,81548882108,100,100,100,100,85,1,1,1,1,1,60,60,70,80
16,Michael Setiawan,3842035,Universitas Amikom Yogyakarta,Teknik Komputer,89673942141,100,100,100,100,95,1,1,1,1,1,90,100,90,90
17,Muhammad Raihan Firmansyah,3762472,Universitas Dian Nuswantoro,Teknik Informatika,85803737732,100,100,100,100,90,1,1,1,1,1,100,80,80,100
18,Muhammad Ridho Heralti,3843259,Universitas Jenderal Soedirman,Matematika,85760004087,100,100,100,100,85,1,1,1,1,1,40,40,60,50
19,Muhammad Rifki Kurniawan,3813513,Universitas Pembangunan Nasional Veteran Yogya...,Ilmu Administrasi Bisnis,85291378856,100,100,100,100,90,1,1,1,1,1,60,40,70,100
20,Mutia Angraini,3643895,Universitas Pembangunan Nasional Veteran Yogya...,Manajemen,81328256132,100,100,100,100,90,1,1,1,1,1,30,30,30,30
21,Nadiyah Saidah,3806913,Universitas Alma Ata,Informatika,895325028877,100,100,100,100,90,1,1,1,1,1,40,40,50,60
22,Nik Nor Allia,3849134,Universitas Alma Ata,Manajemen,85718802418,100,100,100,100,90,1,1,1,1,1,40,40,60,50
23,Nur Cahyo Tio Nugroho,3735191,Universitas Dian Nuswantoro,Teknik Informatika,81330435792,100,100,100,100,85,1,1,1,1,1,100,80,80,100
24,Rico Kurniawan,3842455,Universitas Negeri Semarang,Psikologi,83162498235,100,100,100,100,90,1,1,1,1,1,80,70,50,100
25,Rizqy Ichlasul Amalia,3299393,Universitas Muhammadiyah Semarang,Statistika,89506117922,100,100,100,100,90,1,1,1,1,1,90,60,100,90
26,Rousyan Afkar Irbah,3623281,Universitas Diponegoro,Akuntansi Perpajakan,81213145463,100,85,100,100,90,1,1,1,1,1,10,10,30,30
27,Sofi Anggi Astuti,3830944,Universitas Muhammadiyah Semarang,Statistika,89647681473,100,100,100,100,90,1,1,1,1,1,80,70,70,70
28,Wiyenti Halim,3510247,Universitas Alma Ata,Ilmu Sistem Informasi,895399776240,100,100,100,100,90,1,1,1,1,1,30,30,20,40
29,Dummy 1,3000001,Universitas A,Hubungan Internasional,82225700071,70,70,70,70,70,0,K,0,K,1,90,80,85,70
30,Dummy 2,3000002,Universitas B,Hubungan Internasional,82225700071,70,70,70,70,70,0,1,1,1,K,80,85,75,100

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   nama                 31 non-null     object
 1   id_msib              31 non-null     int64
 2   univ                 31 non-null     object
 3   prodi                31 non-null     object
 4   nohp                 31 non-null     int64
 5   nilai_intro_to_ai_1  31 non-null     int64
 6   nilai_intro_to_ai_2  31 non-null     int64
 7   nilai_intro_to_ai_3  31 non-null     int64
 8   nilai_intro_to_ai_4  31 non-null     int64
 9   nilai_intro_to_ai_5  31 non-null     int64
 10  absen_intro_ai_1     31 non-null     int64
 11  absen_intro_ai_2     31 non-null     object
 12  absen_intro_ai_3     31 non-null     int64
 13  absen_intro_ai_4     31 non-null     object
 14  absen_intro_ai_5     31 non-null     object
 15  ds                   31 non-null     int64
 16  nlp                  31 non-null     int64
 17  cv                   31 non-null     int64
 18  tech                 31 non-null     int64
dtypes: int64(13), object(6)
memory usage: 4.7+ KB

In [5]:
absen_intro_ai_1 = df['absen_intro_ai_1'][0]
absen_intro_ai_1

1

In [8]:
status_absen = {1 : 'Hadir', 0 : 'Tidak Hadir', 'K' : 'Durasi Kurang'}

absen_intro_ai_1 = status_absen[absen_intro_ai_1]
absen_intro_ai_1

'Tidak Hadir'

In [22]:
df['nama'] = df['nama'].str.lower()
df['univ'] = df['univ'].str.lower()
df['prodi'] = df['prodi'].str.lower()

In [16]:
size = df.shape
size = size[0]
size

29

In [9]:
input_nama = str(input("nama : ")).lower()

size = df.shape
size = size[0] - 1
ds = '0'
nlp = '0'
cv = '0'
tech = '0'

for data in df.index:
    name = df['nama'][data]
    
    if input_nama == name:
        ds.append(df['ds'][x])
        nlp.append(df['nlp'][x])
        cv.append(df['cv'][x])
        tech.append(df['tech'][x])
        break
    
    elif data == size:
        print("data tidak ditemukan")
        
print(ds)

nama : shi jack

AttributeError: 'str' object has no attribute 'append'

In [54]:
# Define a dictionary containing students data
data = {'Name': ['Ankit', 'Amit',
                 'Aishwarya', 'Priyanka'],
        'Age': [21, 19, 20, 18],
        'Stream': ['Math', 'Commerce',
                   'Arts', 'Biology'],
        'Percentage': [88, 92, 95, 70]}
  
# Convert the dictionary into DataFrame
df2 = pd.DataFrame(data, columns=['Name', 'Age', 
                                 'Stream', 'Percentage'])
  
print("Given Dataframe :\n", df2)
  
print("\nIterating over rows using index attribute :\n")
  
# iterate through each row and select
# 'Name' and 'Stream' column respectively.
for ind in df2.index:
    name = df2['Name'][ind]
    if name == 'Amit':
        print(df2['Name'][ind], df2['Stream'][ind])

Given Dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20      Arts          95
3   Priyanka   18   Biology          70

Iterating over rows using index attribute :

Amit Commerce

In [75]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 4bfe3d07b4858144c219b9346329027024102ab6
python           : 3.9.12.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 22.1.0
Version          : Darwin Kernel Version 22.1.0: Sun Oct  9 20:15:52 PDT 2022; root:xnu-8792.41.9~2/RELEASE_ARM64_T8112
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.UTF-8

pandas           : 1.4.2
numpy            : 1.21.5
pytz             : 2021.3
dateutil         : 2.8.2
pip              : 21.2.4
setuptools       : 61.2.0
Cython           : 0.29.28
pytest           : 7.1.1
hypothesis       : None
sphinx           : 4.4.0
blosc            : None
feather          : None
xlsxwriter       : 3.0.3
lxml.etree       : 4.8.0
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.2.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : 1.3.4
brotli           :
fastparquet      : None
fsspec           : 2022.02.0
gcsfs            : None
markupsafe       : 2.0.1
matplotlib       : 3.5.1
numba            : 0.55.1
numexpr          : 2.8.1
odfpy            : None
openpyxl         : 3.0.9
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.3
snappy           :
sqlalchemy       : 1.4.32
tables           : 3.6.1
tabulate         : 0.8.9
xarray           : 0.20.1
xlrd             : 2.0.1
xlwt             : None
zstandard        : None